* {
    font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}

header, footer  {
    padding: 0em 5em;
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

header ul, footer ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header ul li, footer ul li {
    padding: 0em 1em;
}

footer {
    position: relative;
}

/* ------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Rubik');
html, body {
  padding: 0;
  margin: 0;
  background: whitesmoke;
  font-family: "Rubik";
  font-size: 15px;
}
#shots {
  display: flex;
  flex-wrap: wrap;
  max-width: 1080px;
  margin: auto;
}
#shots .shot {
  position: relative;
  display: block;
  width: 25%;
  background: #ea4c89;
  color: white;
  text-decoration: none;
}
#shots .shot:hover img {
  opacity: 0.1;
}
#shots .shot:hover .title {
  opacity: 1;
}
#shots .shot .title {
  position: absolute;
  width: calc(100% - 2rem);
  padding: 1rem;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
}
#shots .shot img {
  display: block;
  max-width: 100%;
  transition: opacity 0.2s ease-in-out;
}
